@import "../Global.scss";

.navbar-container {
  background: transparent;
  position: fixed;
  z-index: 3;
  width: 100%;
  transition: 0.9s all ease;
  .navbar-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 80px;
        margin-right: 20px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          list-style: none;
          font-size: 1.1rem;
          margin-right: 10px;
          a {
            text-decoration: none;
            color: $white;
            opacity: 0.9;
          }
          a:hover {
            opacity: 1;
          }
        }
      }
    }

    .buttons {
      .btn1 {
        @extend .btn;
        background: transparent;
      }
    }
    .menu-btn {
      display: none;
      img {
        width: 50px;
      }
      .dropdown-menu {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;
        background: $darkBlue;
        transition: 0.8s all ease;
        ul {
          text-align: center;
          li {
            list-style: none;
            display: inline;
            margin: 5px;
            a {
              text-decoration: none;
              color: white;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

.navbar-container.fixed {
  background: white;
  transition: 0.9s all ease;

  .navbar-wrapper {
    .logo {
      ul {
        li {
          a {
            color: $darkBlue;
          }
          a:hover {
            opacity: 1;
            color: $accentColor;
          }
        }
      }
    }

    .buttons {
      .btn {
        background-color: $darkBlue;
        color: $white;
      }
      .btn1 {
        background: transparent;
        color: $darkBlue;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-container {
    .navbar-wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar-container {
    .navbar-wrapper {
      .logo {
        img {
          width: 70px;
        }
        ul {
          display: none;
        }
      }
      .buttons {
        .btn {
          display: none;
        }
      }
      .menu-btn {
        display: block;
        img {
          width: 50px;
        }
      }
    }
  }
}
