@import "../Global.scss";

.midsection-wrapper {
  width: 90%;
  height: 500px;
  margin: 50px auto;
  .midsection-text {
    width: 100%;
    text-align: center;
    color: $white;
    :nth-child(1) {
      font-size: 2.5rem;
    }
    :nth-child(2) {
      font-size: 1.6rem;
      width: 50%;
      margin: 0 auto;
    }
    :nth-child(n) {
      margin: 15px 0;
    }
  }
  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px auto;
    gap: 50px;
    position: absolute;
    left: 0;
    right: 0;
    .card {
      background-color: $white;
      padding: 15px;
      border-radius: 20px;
      height: 250px;
      .card-text {
        margin: 40px 0;
        :nth-child(1) {
          font-size: 1.6rem;
        }
        :nth-child(2) {
          margin: 20px 0;
          opacity: 0.5;
        }
      }
      .card-image {
        position: relative;
        top: -245px;
        left: 20px;
        background-color: #2e8a99;
        border-radius: 50%;
        width: 70px;
        padding: 10px;
        img {
          width: 50px;
        }
      }
    }
    
  }
}

@media screen and (max-width: 700px) {
  .midsection-wrapper {
    .midsection-text {
      :nth-child(1) {
        font-size: 1.9rem;
      }
      :nth-child(2) {
        font-size: 1.6rem;
        width: 100%;
        margin: 0 auto;
      }
    }
    .cards {
      .card {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .midsection-wrapper {
    height: 1100px;
    .cards {
      flex-direction: column;

      .card {
        width: 90%;
      }
    }
  }
}
